* {
  margin: 0%;
  padding: 0%;
  background-color: rgb(45, 45, 45);
}

.container {
  width: 80%;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  padding: 100px 50px;
  box-sizing: border-box;
}

.container h1 {
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#numOfwords {
  background-color: white;
  padding: 20px;
  width: 50%;
  margin-top: 20px;
  border: 1px solid rgb(234, 234, 234);
  outline: none;
  font: 100 1.3rem sans-serif;
}

button {
  color: white;
  padding: 20px;
  font: 100 1.3rem sans-serif;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}
button:hover {
  background-color: rgb(44, 29, 176);
}

.paras {
  background-color: rgb(238, 238, 238);
  color: rgb(21, 21, 21);
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 2px;
  word-spacing: 5px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
