* {
  margin: 0%;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 30px 0;
  color: white;
  padding: 10px;
  background-color: rgb(50, 50, 50);
}

select,
button {
  cursor: pointer;
  border: none;
  outline: none;
  margin: 30px 0;
  color: white;
  padding: 10px;
  font: 100 1.2rem sans-serif;
  background-color: rgb(50, 50, 50);
}

button {
  background-color: rgb(53, 34, 201);
}
